02-ADF-ADLS-Pipeline/pipeline/PL_LoanProcessing_Branch.json
{
	"name": "PL_LoanProcessing_Branch",
	"properties": {
		"activities": [
			{
				"name": "SetVar_RetryCount",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RetryCount",
					"value": 0
				}
			},
			{
				"name": "WaitForFile",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SetVar_FileArrived_True",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(variables('FileArrived'),'true'),greaterOrEquals(variables('RetryCount'),10))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait_30s",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						},
						{
							"name": "CheckFileArrived",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Wait_30s",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Node5_LoanFiles",
									"type": "DatasetReference",
									"parameters": {
										"Filename": "@concat(pipeline().parameters.BranchID,'_loans.csv')"
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "FileServerReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "SetVar_FileArrived",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CheckFileArrived",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileArrived",
								"value": "@string(activity('CheckFileArrived').output.exists)"
							}
						}
					],
					"timeout": "0.00:06:00"
				}
			},
			{
				"name": "CopyLoanFile",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WaitForFile",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM dbo.@{pipeline().parameters.BranchID}_loans",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Node5_SQL_Loans",
						"type": "DatasetReference",
						"parameters": {
							"Branchid": "@pipeline().parameters.BranchID"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Landing",
						"type": "DatasetReference",
						"parameters": {
							"BranchID": "@pipeline().parameters.BranchID"
						}
					}
				]
			},
			{
				"name": "Lookup_IntrestRates",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyLoanFile",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ProductCode, BaseRate FROM dbo.LoanRates WHERE EffectiveDate = CAST(GETDATE() AS DATE) AND ProductCode = '@{pipeline().parameters.LoanType}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_RateTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyData_ToSQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_IntrestRates",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE FROM dbo.LoanApplications WHERE BranchID = '@{pipeline().parameters.BranchID}' AND RunDate = '@{pipeline().parameters.RunDate}'",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_Landing",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSQL_LoanApplications",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "StoredProc_AuditLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyData_ToSQL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogPipelineRun]",
					"storedProcedureParameters": {
						"ApprovedCount": {
							"value": "@activity('CopyData_ToSQL').output.rowsCopied",
							"type": "Int32"
						},
						"BranchID": {
							"value": "@pipeline().parameters.BranchID",
							"type": "String"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "String"
						},
						"RejectedCount": {
							"value": "0",
							"type": "Int32"
						},
						"RunDate": {
							"value": "@pipeline().parameters.RunDate",
							"type": "DateTime"
						},
						"Status": {
							"value": "SUCCESS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_LoanProcessing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Script_UpdateStatus",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "StoredProc_AuditLog",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_LoanProcessing",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "UPDATE dbo.LoanApplications \nSET ProcessingStatus = 'PROCESSED', UpdatedAt = GETDATE() \nWHERE BranchID = '@{pipeline().parameters.BranchID}' \nAND RunDate = '@{pipeline().parameters.RunDate}'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete_LandingFile",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Script_UpdateStatus",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_Landing",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "LS_ADLS_Gen2",
							"type": "LinkedServiceReference"
						},
						"path": "curated/delete-logs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Fail_SLABreach",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "CopyData_ToSQL",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "StoredProc_AuditLog",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "@concat('Loan processing failed for branch ',pipeline().parameters.BranchID,' on ',pipeline().parameters.RunDate)",
					"errorCode": "LOAN_FAIL_001"
				}
			},
			{
				"name": "SetVar_FileArrived_True",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetVar_RetryCount",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileArrived",
					"value": "true"
				}
			}
		],
		"parameters": {
			"BranchID": {
				"type": "string"
			},
			"RunDate": {
				"type": "string"
			},
			"LoanType": {
				"type": "string"
			}
		},
		"variables": {
			"RetryCount": {
				"type": "Integer"
			},
			"FileArrived": {
				"type": "String"
			},
			"RejectedIDs": {
				"type": "Array"
			},
			"SetVar_FileArrived_True": {
				"type": "String"
			}
		},
		"annotations": []
	}
}