02-ADF-ADLS-Pipeline/pipeline/PL_LoanProcessing_Master.json
{
	"name": "PL_LoanProcessing_Master",
	"properties": {
		"activities": [
			{
				"name": "AKV_GetSecrets",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://usha-kv-poc.vault.azure.net/secrets/sqlPassword/?api-version=7.4",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "CheckBusinessDay",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AKV_GetSecrets",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(and(not(equals(dayOfWeek(utcNow()),0)),not(equals(dayOfWeek(utcNow()),6))),not(contains(variables('HolidayList'),formatDateTime(utcNow(),'yyyy-MM-dd'))))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "LogNonBusinessDay",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_LogPipelineRun]",
								"storedProcedureParameters": {
									"ApprovedCount": {
										"value": "0",
										"type": "Int32"
									},
									"BranchID": {
										"value": "Master",
										"type": "String"
									},
									"PipelineRunID": {
										"value": "",
										"type": "String"
									},
									"RejectedCount": {
										"value": "@pipeline().RunId",
										"type": "Int32"
									},
									"RunDate": {
										"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
										"type": "DateTime"
									},
									"Status": {
										"value": "skipped",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_LoanProcessing",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute_BranchPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_LoanProcessing_Branch",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BranchID": "SF_Downtown",
									"RunDate": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
									"LoanType": "Mortgage"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"BranchList": {
				"type": "Array",
				"defaultValue": [
					"SF_Downtown",
					"SanRamon_EastBay",
					"Oakland_Financial"
				]
			},
			"HolidayList": {
				"type": "Array",
				"defaultValue": [
					"2026-01-01",
					"2026-05-25",
					"2026-07-04",
					"2026-09-07",
					"2026-11-26",
					"2026-12-25"
				]
			},
			"PipelineStatus": {
				"type": "String",
				"defaultValue": "RUNNING"
			}
		},
		"annotations": []
	}
}