02-ADF-ADLS-Pipeline/pipeline/PL_LoanProcessing_Branch.json
{
	"name": "PL_LoanProcessing_Branch",
	"properties": {
		"activities": [
			{
				"name": "SetVar_RetryCount",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RetryCount",
					"value": 0
				}
			},
			{
				"name": "WaitForFile",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SetVar_RetryCount",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(variables('FileArrived'),'true'),greaterOrEquals(variables('RetryCount'),10))",
						"type": "Expression"
					},
					"timeout": "0.00:06:00"
				}
			}
		],
		"parameters": {
			"BranchID": {
				"type": "string"
			},
			"RunDate": {
				"type": "string"
			},
			"LoanType": {
				"type": "string"
			}
		},
		"variables": {
			"RetryCount": {
				"type": "Integer"
			},
			"FileArrived": {
				"type": "String"
			},
			"RejectedIDs": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}